#header{
    padding: 10px 0px 0px 10px;
    text-align: center;
    background-color: antiquewhite;
}

#menu{
    text-align: center;
    margin: 10px;
    
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(215, 252, 252);
}

.important{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 20%;

}
.stylelink{
    text-decoration: none;
    background-color: rgb(156, 240, 252);
    border-radius: 10px;
    padding: 9px 30px;
    font-family: 'Charis SIL', serif;
    font-weight: 600;
    text-align: center;
}

.hab1{
    font-size: 20px;
}
 .hab2{
    font-size: 25px;
 }

 .hab3{
    font-size: 30px;
 }

 .hab4{
    font-size: 35px;
 }
 .hab5{
    font-size: 40px;
 }
 
 #name{
    font-size: 30px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
 }

 #minha-foto{
    float: left;
    padding: 10px;
    background-color: black;
    position: absolute;
    top: 20%;
 }
 
 .image-container{
    height:  230px;
    border: 0;
    margin: 0;
    position: relative;
 }

 ul li :nth-child(odd){
    background-color: gainsboro;
 }